language: go

env:
  - GO111MODULE=on

go:
  - 1.21.x

before_script:
  - GO111MODULE=off go get -u golang.org/x/lint/golint

script:
  - make

# Calls goreleaser to build and push artifacts
deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux
